name: ci/cd devops
on: workflow_dispatch
jobs: 
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code 
      uses: actions/checkout@v3

    - name: install packages
      run: pip install pytest pymysql flask

    - name: testing code
      run: pytest